.logo-wrapper {
    @include flex(row nowrap, flex-start, center, auto, flex-start, 0);
    cursor: pointer;
    transition: 0.3s;
    margin: 0 0 0 0.5rem;
    border-radius: 25px;
    &:focus, &:hover {
        transform: scale(0.97);
        transition: 0.3s;
    }
    &:active { opacity: 0.4; }
    &:focus  { outline: thick double #ccc; }
}
.logo-txt {
    @include flex(column nowrap, flex-start, flex-start, auto, flex-start, 0);
    font-size: 0.85em;
    letter-spacing: 0.07em;
    font-weight: 700;
    text-align: left;
    margin: 0.5rem 0.75rem 0.5rem 0.5rem;
    span:nth-child(1) {
        line-height: 1.1em;
        margin-top: 0.2em ;
    }
    span:nth-child(2) {
        font-size: 0.78em;
        font-weight: 400;
    }
    @media only screen and (max-width: 600px) { font-size: 0.75em; }
}
.logo {
    height: 2rem;
    width: 2rem;
    filter: drop-shadow(1px 1px 0.5px #808080);
    margin: 0 0 0 0.5rem;
    @media only screen and (max-width: 600px) {    
        height: 1.8rem;
        width: 1.8rem;
    }
}