
.formTxt {
    @include flex(column nowrap, flex-start, stretch, auto, flex-start, 1em);
    position: absolute;
    width: 70rem;
    height: 35rem;
    top: 50vh;
    margin-top: -17.5rem;
    left: 50vw;
    margin-left: -35rem;
    z-index: 0;
    padding: 15vmin 40vw 10vmin 10vmin;
    background-color: $white;
    background-color: $yellow;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38), -2px -2px 8px hsl(0deg 0% 0% / 0.1);
}
.masterform {
    position: absolute;
    width: 34rem;
    height: 40rem;
    top: 50vh;
    margin-top: -20rem;
    left: 50vw;
    margin-left: -3rem;
    z-index: 0;
    background-color: $white;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38), -2px -2px 8px hsl(0deg 0% 0% / 0.1);
    padding: 8vmin 10vmin 10vmin 10vmin;
    label {
        margin: 0.5rem 0;
    }
}
input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ label, &:focus ~ label{
        background-color: $yellow;
        box-shadow: 2.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.38);
    }
}
.flat-btn {
    min-width: 48%;
    height: 3rem;
    text-transform: uppercase;
    background-color: $yellow;
    border: 2px solid $yellow;
    font-weight: 600;
    &:focus, &:hover {
        background-color: lighten($yellow, 30%);
        box-shadow: 2.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.38);
        outline: none;
    }
}
.checkBtn {
    @include flex(column nowrap, center, center, center, center, 0);
    background-color: $light-grey;
    min-width: 48%;
    height: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-weight: 600;
    margin: 0 0 1rem 0;
    &:focus, &:hover {
        background-color: $yellow;
        box-shadow: 2.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.38);
    }
}
.custom-wrapper {
    input {
        background-color: $light-grey;
        border: none;
        height: 3rem;
        width: 100%;
        margin: 0.5rem 0;
        padding: 0 0.8rem;
        border: 2px solid transparent;
        &::placeholder {
            font-style: italic;
            opacity: 0.3;
        }
        &:focus, &:active {
            outline: none;
            border: 2px solid $yellow;
        }
    }
    label {
        text-transform: uppercase;
        font-size: 0.7em;
        letter-spacing: 0.1em;
        font-weight: 600;
    }
}
fieldset {
    border: none;
    margin: 2rem 0 0 0;
}
legend {
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    font-weight: 600;
}
.btn-group {
    position: absolute;
    bottom: 5rem;
    width: 70%;
}
#fødselsnummer {
    -moz-appearance: textfield;
}
#fødselsnummer::-webkit-outer-spin-button,
#fødselsnummer::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.fieldset-btn-group {
    p {
        margin: 1em 0;
    }
}
