.masterform-wrapper {
    height: 100vh;
    min-height: 40rem;
}
.formTxt {
    @include flex(column nowrap, center, stretch, auto, flex-start, 1em);
    position: absolute;
    width: 70rem;
    height: 30rem;
    top: 50vh;
    margin-top: -16rem;
    left: 50vw;
    margin-left: -35rem;
    z-index: 0;
    padding: 0 40rem 0 6rem;
    background-color: $white;
    background-color: $yellow;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38), -2px -2px 8px hsl(0deg 0% 0% / 0.1);
    @media only screen and (max-width: 1160px) { display: none; }
    @media only screen and (max-height: 800px) {
        top: 8rem;
        margin-top: 0;
    }
    .action-group {
        .btn {
            @include BTN($white, 13rem, 2.4rem, 0.8em, #ffffff49);
        }
    }
}
.masterform {
    position: absolute;
    width: 34rem;
    height: 38rem;
    @media only screen and (max-height: 800px) { 
        top: 5rem;
        margin-top: 0;
    }
    top: 50vh;
    margin-top: -19rem;
    left: 50vw;
    margin-left: -3rem;
    z-index: 0;
    background-color: $white;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38), -2px -2px 8px hsl(0deg 0% 0% / 0.1);
    padding: 8vmin 10vmin 10vmin 10vmin;
    @media only screen and (max-width: 1160px) { 
        margin-left: -17rem;
    }
    @media only screen and (max-width: 565px) { 
        //display: none;
        padding: 2rem; margin: 0;
        left: 0;
        width: 100%;
        box-shadow: none;
    }
    label, legend {
        text-transform: uppercase;
        font-size: 0.7em;
        letter-spacing: 0.1em;
        font-weight: 600;        
    }
    label {
        margin: 0.5rem 0;
    }
    .flat-btn {
        margin-top: 1rem;
    }
}
input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ label, &:focus ~ label, &:focus + label{
        background-color: $yellow;
        box-shadow: 2.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.38);
    }
}
.txt-input-wrapper {
    input {
        background-color: $light-grey;
        border: none;
        height: 3rem;
        width: 100%;
        margin: 0.5rem 0;
        padding: 0 0.8rem;
        border: 2px solid transparent;
        &::placeholder {
            font-style: italic;
            opacity: 0.3;
        }
        &:focus, &:active {
            outline: none;
            border: 2px solid $yellow;
        }
    }


}
fieldset {
    border: none;
    margin: 2rem 0 0 0;
}
.payment {
    width: 100%;
    padding-top: 1.2rem;
    margin: 0;
}
#fødselsnummer {
    -moz-appearance: textfield;
    padding:0; margin: 0;
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
.form-group {
    p {
        margin: 1.6em 0;
    }
}
.checkmark{
    stroke-width: 2px;
    stroke: $yellow;
    fill: none;
    & path {
        stroke-dasharray: 17px, 17px; 
        stroke-dashoffset: 0px;
        animation: checkmark 0.25s ease-in-out 0.7s backwards;
    }
    & circle {
        stroke-dasharray: 76px, 76px;
        stroke-dashoffset: 0px;
        animation: checkmark-circle 0.6s ease-in-out forwards;
    }
}
.active1, .active3 {
    animation: scaleUpOdd 1s 1 ease-in-out;
}
.active2, .active4 {
    animation: scaleUpEven 1s 1 ease-in-out;
}
.complete {
    @include flex(column nowrap, center, stretch, auto, flex-start, 1em);
    text-align: center;
    padding: 2rem  0 0 0;
}
.summary {

    h2, h1 {
        padding: 1rem 0;
    }
    a {
        @include hover-underline(1.5px, $medium-grey);
    }
}
.checkmark-wrapper {
    margin: 2rem 0;
}