
main {
    @include flex(column nowrap, flex-start, center, auto, center, 0);
    margin: 3.5rem 0 0 0;
    min-height: 100vh;
    width: 100vw;
}
.content-index {
    @include flex(column nowrap, center, stretch, auto, flex-start, 6rem);
    width: 100%;
    max-width: 1280px;
    .two { 
        @include flex(row nowrap, center, stretch, auto, center, 4rem);
        background-color: #F4F4F4; 
        padding: 5rem 0;
        width: calc(100% + 15rem);
        margin:  0 0 10rem -7.5rem;
        @media only screen and (max-width: 1200px) { 
            @include flex(column wrap, center, stretch, auto, center, 4rem);
            margin: 0;
            width: 100%;
        }
    }
    .three { 
        @include flex(row nowrap, space-between, flex-start, auto, center, 3rem);
    }
}
.card {
    @include flex(column wrap, space-between, flex-start, auto, flex-start, 1em);
    min-width: 20rem;
    max-width: 29%;
    background-color: $white;
    padding: 4rem;
    ::first-letter {
        text-transform: uppercase;
    }
    .btn {
        @include BTN($yellow, 15rem, 3rem);
        margin: 1.5rem 0 0 0;
    }
    h2 {
        font-size: 2em;
        font-weight: 200;
    }
}
.tile {
    width: 100%;
    @include flex(column wrap, center, stretch, auto, center, 1rem);
    ::first-letter {
        text-transform: uppercase;
    }
    h3 {
        border-bottom: 3px solid lighten($yellow, 20%);
        margin-bottom: 2px;
        font-size: 1.5em;
        font-weight: 400;
        padding: 0.6rem 0.5rem;
        @include flex(row nowrap, space-between, stretch, auto, center, 0);
    }
    i {
        position: relative;
        margin-right: 1rem;  
    }
    p {
        padding: 0 0.5rem;
    }
    &:hover, &:focus {
        h3 {
            border-bottom: 5px dotted $yellow;
            margin-bottom: 0;
        }
        i {
            animation: bounce 1s 2 forwards ease-in-out;
        }
    }
}
.campaign { 
    @include flex(row nowrap, space-between, flex-start, auto, center, 0);
    margin: 10rem 0;
    .txt, img  {
        height: 24.2rem;
    }
    .txt {
        @include flex(column nowrap, center, flex-start, auto, center, 0);
        background-color: $yellow;
        padding: 0 5rem;
        h5 {
            font-size: 2em;
            font-weight: 200;
            margin: 0 0 1rem 0;
        }
        .btn {
            @include BTN($white, 12rem, 3rem, 1em, #ffffff49);
        }
        .action-group {
            @include flex(row nowrap, flex-start, center, auto, center, 3rem);
            width: 100%;
            margin: 2rem 0 1rem 0;
        }
    }
}