.--hide {
    top: -3.5rem;
    box-shadow: 3px 3px 7px rgba(136,165,191,.301);
}
.logo-wrapper {
    @include flex(row nowrap, flex-start, center, auto, flex-start, 0);
    cursor: pointer;
}
.logo-txt {
    @include flex(column nowrap, flex-start, flex-start, auto, flex-start, 0);
    font-size: 0.75em;
    letter-spacing: 0.07em;
    font-weight: 700;
    text-align: left;
    margin-left: -0.5rem;
    text-transform: uppercase;
    span:nth-child(1) {
        line-height: 1.1em;
        margin-top: 0.2em ;
    }
    span:nth-child(2) {
        font-size: 0.815em;
        font-weight: 400;
    }
    @media only screen and (max-width: 600px) { display: none; }
}
#logo {
    height: 2rem;
    width: 2rem;
    filter: drop-shadow(1px 1px 0.5px #808080);
    margin: 0 1rem;
}
nav {
    @include flex(row nowrap, space-between, center, auto, flex-start, 0);
    position: fixed;
    left: 0;
    top: 0;
    background-color: $white;
    height: 3.5rem;
    width: 100vw;
    z-index: 999;
    font-weight: 500;
    transition: top 1s;
    .--close { display: none; }
    .--open { 
        @include flex(row nowrap, center, center, auto, flex-start, 10vw);
        position: fixed; 
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        z-index: 999;
    }
}
.is-menu-open {
    position: relative;
    z-index: 9999;
}
.nav--overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    animation: navOverlayOpen 2s 1;
    background-color: $yellow;
}
.menu-group {
    list-style: none;
    li {
        animation: navContentOpen 2s 1;
        a {
            line-height: 1.4em;
            margin: 0.35rem 0 0.35rem 0;
            outline: none;
            @include hover-underline(2px, $medium-grey);
        }
    }
}
.menu-heading a {
    border-bottom: 2px solid transparent;
    font-weight: 400;
    font-size: clamp(2em, 2.5vw, 3rem);
    letter-spacing: -0.01em;
    color: $medium-grey!important;
}
.nav-highlights {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 0 0 0 2rem;
    @media only screen and (max-width: 1000px) { display: none; }
    a {
        @include hover-highlight;
        font-weight: 400;
        font-style: normal;
        font-size: 0.9em;
        padding: 0.2em 0.5em;
        outline: none;
        cursor: pointer;
    }
}
.search {
    font-size: 1em;
    transform: scale(0.9);
    &::before { //circle
        content:"";
        display: block;
        width: 0.8em;
        height: 0.8em;
        border-radius: 50%;
        border: 0.15em solid $medium-grey;
        margin-left: -1em;
    }
    &::after { //line
        content:"";
        display: block;
        width: .15em;
        height: 0.6em;
        background-color: $medium-grey;
        transform: rotate(-45deg);
        margin-top: -.32em;
    }
}
.nav-btn-wrapper {
    @include flex(row nowrap, flex-start, center, auto, flex-start, 0);
}