$yellow:        #FFD500;

$white:         #ffffff;
$light-grey:    #ebebeb;
$medium-grey:   #383838;
$black:         #242424;

$youtube:       #e60019;
$facebook:      #2269b2;
$twitter:       #009bdb;

$speed : cubic-bezier(0.694,  0.048, 0.335, 1.000);