.--hide { //hide navbar on scroll
    top: -3.5rem;
    box-shadow: 3px 3px 7px rgba(136,165,191,.301);
}
nav {
    .btn {
        @include BTN($yellow, 6.8rem, 2.2rem, 0.9em);
        @media only screen and (max-width: 1200px) { display: none; }
    }
    @include flex(row nowrap, space-between, center, auto, flex-start, 0);
    position: fixed;
    left: 0;
    top: 0;
    background-color: $white;
    height: 3.5rem;
    width: 100vw;
    z-index: 999;
    font-weight: 500;
    transition: top 1s;
    .--open { 
        @include flex(column nowrap, center, center, auto, flex-start, 0vw);
        position: fixed; 
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        z-index: 999;
    }
}
.is-menu-open {
    position: relative;
    z-index: 9999;
}
.nav--overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    animation: navOverlayOpen 2s 1;
    background-color: $yellow;
}
.menuitem {
    counter-increment: toc;
    a {
        &::before {
            content: "0" counter(toc);
        }
        &::after {
            content: '→'; 
        }        
    }
}
ol {
    list-style: none;
}
.nav-highlights {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 0 0 0 2rem;
    @media only screen and (max-width: 1000px) { display: none; }
    a {
        @include hover-highlight;
    }
}
.search {
    font-size: 1em;
    transform: scale(0.9);
    cursor: not-allowed;
    &::before { //circle
        content:"";
        display: block;
        width: 0.8em;
        height: 0.8em;
        border-radius: 50%;
        border: 0.15em solid $medium-grey;
        margin-left: -1em;
    }
    &::after { //line
        content:"";
        display: block;
        width: .15em;
        height: 0.6em;
        background-color: $medium-grey;
        transform: rotate(-45deg);
        margin-top: -.32em;
    }
}
.nav-btn-wrapper {
    @include flex(row nowrap, flex-start, center, auto, flex-start, 0);
}